/* Variáveis */
:root {
    --azul-principal: #0E7FA6;
    --azul-claro: #1aa9e1;
    --azul-forte: #003767;
    --azul-medio: #11487D;
    --preto-principal: #333333;
    --roboto: 'Roboto', sans-serif;
    --ubuntu: 'Ubuntu', sans-serif;

    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}


body {
    font-family: var(--ubuntu);
}

/*-- Navbar --*/
.nav-item .nav-link {
    color: var(--azul-claro)!important;
    font-weight: 700;
    font-size: 1.2rem; 
}

.nav-item .nav-link:hover {
    color: var(--azul-principal)!important; 
}

/* -- Caorusel --*/

.carousel-caption {
    bottom: 3rem;
    z-index: 10;
}

.carousel-item {
    height: 34rem;   
}

.carousel-item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 34rem;
  }

.capa {
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}

/* -- Main --*/

.servicos_drones {
    display: flex;;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.servicos_drones img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

#info-contato p:nth-child(1) img, 
#info-contato p:nth-child(2) img{
    width: 20px;
    height: 20px;
    margin-left: 2px;
}

#info-contato p:nth-child(3) img, 
#info-contato p:nth-child(4) img{
    width: 24px;
    height: 24px;
}


#info-contato img {   
    margin-right: 1rem;
}

#info-contato .img-endereco img {
    width: 24px;
    height: 24px;
}

.container-endereco {
    display: flex;
}

.desc-endereco span {
    display: block;
}

a.back-to-top {
    position: fixed;
    display: block;
    right: 15px;
    height: 70px;
    bottom: 15px;
    line-height: 24px;
    padding-bottom: 9px;
    z-index: 999;
}

.form-group.row label.col-form-label {
    text-align: right;
}

span.endereco {
    word-wrap: break-word;
}


.info-cursos {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.info-cursos .img-curso img{
    height: 350px;
    width: 350px;
    margin-right: 4rem;
    margin-left: 4.5rem;
}

.curso-item img {
    margin-bottom: 1rem;
    height: 100px;
    width: 100px;
    border-radius: 5px;
}

#drones-section > div, #contato-section > div {
    background-color: var(--azul-claro);
}

footer.footer {
    background-color: var(--azul-principal);
}