html {
    font-size: 1rem;
}

/* X-Small devices (portrait phones, less than 576px)*/
/* No media query for `xs` since this is the default in Bootstrap*/

@media (min-width: 1px) {
    #img-logo {
        width: 145px;
        height: 27px;
    }

    .form-group.row label.col-form-label {
        text-align: left;
    }

    .info-cursos {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

@media (min-width: 281px) { /* Para funcionar no Galaxy Fold*/
    #img-logo {
        width: 200px;
        height: 36px;
    }

    .form-group.row label.col-form-label {
        text-align: left;
    }

    .info-cursos {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) { 
    #img-logo {
        width: 400px;
        height: 75px;
    }
    .form-group.row label.col-form-label {
        text-align: right;
    }

    .info-cursos {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }
 }

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 769px) { 
    #img-logo {
        width: 400px;
        height: 75px;
    }

    .info-cursos {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }
 }

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) { 
    #img-logo {
        width: 20400px;
        height: 75px;
    }

    .info-cursos {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }
 }

/* X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 
    #img-logo {
        width: 400px;
        height: 75px;
    }

    .info-cursos {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }
 }

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) { 
    #img-logo {
        width: 400px;
        height: 75px;
    }

    .info-cursos {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }
 }